################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/vesa.api/appsettings.json
/vesa.core/DTOs/UserDtos
/vesa.repository/Migrations
